#wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 250px;
  width: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#wrapper .big {
  font-size: 2.5em;
}