.gallery-list {
  display: grid;
  grid-gap: .25rem;
}

.gallery-list > span {
  position: relative;
  cursor: zoom-in;
}


.gallery-list > span > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* animation: bounce 1s .3s; */
  /* transform: scale(1); */
}

.custom-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(5px);
}

.custom-modal img {
  width: 10%;
  height: 10%;
  object-fit: cover;
  transform: scale(11);
}

.modal-image {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: zoom-out;
}

@keyframes bounce {
  0% { transform: scale(1.02); opacity: 1 }
  50% { transform: scale(1.04); opacity: .7; }
  60% { transform: scale(0.9); opacity: 1 }
  80% { transform: scale(1.01) }
  100% { transform: scale(1) }
}

/* * to tablet */
@media (min-width: 550px) { 
  .gallery-list {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-template-rows: repeat(5, 200px);
    grid-auto-flow: dense;
  }

  .gallery-list > span:nth-child(4n) {
    grid-column: span 4;
    grid-row: span 4;
  }
  
  .gallery-list > span:nth-child(8n) {
    grid-column: span 3;
    grid-row: span 3;
  }
}

/* * to desktop */
@media (min-width: 768px) { 
  .gallery-list {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-template-rows: repeat(6, 200px);
    grid-auto-flow: dense;
  }

  .gallery-list > span:nth-child(4n) {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  .gallery-list > span:nth-child(8n) {
    grid-column: span 3;
    grid-row: span 3;
  }
}